* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.nameplate {
  width: 100%;
  padding: 10px;
  background-color: #aacbff;
  text-align: center:
  font-size: 1.4rem;
}
.nameplate_link {
  color: black;
  text-decoration: none;
}
.nav {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 20px;
}
.nav_item {
  display: inline-block;
}
.nav_item::after {
  content: "•"
}
.nav_item:last-child::after {
  content: ""
}
.nav_item_link {
  color: #333;
  text-decoration: none;
  background-color: #dbdbdb;
  padding: 3px 6px;
  margin-right: 4px;
}
.nav_item_link:hover {
  background-color: #aacbff;
}
.content{
  margin: 1020px 10%;
}
.portfolio_item {
  width: 33%;
  float: left;
  padding: 10px;
}
.clearfix {
  
}
